body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(68, 143, 255);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}

#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    width: 20vw;
    height: 100vh;
    z-index: 1;
}

.nav-btn {
    margin-top: 5vh;
    width: 60%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.466) 2px 5px 8px 3px;
    background: -moz-linear-gradient(top,rgb(103, 164, 255), rgb(51, 115, 211)) ;
    background-image: -o-linear-gradient(top,rgb(103, 164, 255), rgb(51, 115, 211)) ;
    background-image: -webkit-gradient(top,rgb(103, 164, 255), rgb(51, 115, 211)) ;
    background: -ms-linear-gradient(top,rgb(103, 164, 255), rgb(51, 115, 211)) ;
    background: linear-gradient(top,rgb(103, 164, 255), rgb(51, 115, 211)) ;
    color: rgb(40, 94, 175);
    text-align: center;
    cursor: default;
    opacity: 0.7;
    
}

.nav-btn:hover {
    -moz-transition-property: scale, opacity;
    -moz-transition-duration: 15ms;
    -webkit-transition-property: scale, opacity;
    -webkit-transition-duration: 15ms;
    -o-transition-property: scale, opacity;
    -o-transition-duration: 15ms;
    transition-property: scale, opacity;
    transition-duration: 15ms;
    -ms-transition-property: scale, opacity;
    -ms-transition-duration: 15ms;
    scale: 1.05;
    opacity: 1;
    color: rgb(162, 202, 255);
}
#clear-button:active {
    color: rgb(162, 202, 255);
    background: -moz-linear-gradient(top, rgb(51, 115, 211), rgb(103, 164, 255));
    box-shadow: inset rgb(35, 80, 146) 3px 5px 15px, inset rgb(174, 206, 255) -3px -5px 15px;
    
}

input {
    all: unset;
    width: 100%;
}

#container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    align-self: center;
    display: grid;
    width: 95vh;
    height: 95vh;
    z-index: 3;
}

.background-square {
    position: absolute;
    align-self: flex-start;
    opacity: 0.2;
    background-color: white;
    border-radius: 13%;
    box-shadow: 0 0 10px 3px;
    filter: blur(0.05mm);
}

.box {
    position: relative;
    margin: 3%;
    border-radius: 13%;
    font-size:0vmax;
}
